* {
    box-sizing: border-box;
  }
  .flex-container {
    display: flex;
    justify-content: center;
    justify-items: center;

    background-color: darkblue;
    font-size: 10;
    padding:20px;
    margin-top:3px;
    margin-bottom:3px;
}
.flex-item2{
  color:white;


}
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  header {
    background-color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .select-category select {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .subscribe-form input[type="text"] {
    padding: 5px;
    border-radius: 5px;
  }
  
  .subscribe-form button[type="submit"] {
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .main-section {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-section img {
    height: 300px;
    width: 300px;
    margin-right: 20px;
  }
  
  .content-section {
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .post-info {
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
  }
  
  .post-desc {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .continue-btn {
    background-color: red;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    .subscribe-form {
      margin-top: 10px;
    }
  
    .main-section {
      flex-direction: column;
      margin: 20px;
    }
  
    .main-section img {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  header {
    background-color: lavender;
    text-align: center;
    padding: 20px;
  }
  
  .header div {
    background-color: white;
    color: black;
    flex-grow: 1;
  }
  
  #box {
    background-color: darkblue;
    display: flex;
  }
  
  #first {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1px;
    padding: 0px 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
  }
  